@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #f0efeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.wrapper {
    width: 550px;
    background-color: #ffffff;
}


/* navbar */

nav {
    height: 65px;
    background-color: #bdb2ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 0 20px;
}

nav > .nav--logo {
    display: flex;
    align-items: center;
    gap: 7px;
}

.nav--logo > img {
    width: 31.31px;
    height: 26.22px;
}

.nav--logo > h1 {
    font-weight: bold;
    font-size: 20.7482px;
    line-height: 24px;
    letter-spacing: -1px;
}